
.hero-carousel {
    height: 40rem;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-carousel__img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-carousel > h1 {
    position: absolute;
    color: white;
    text-shadow: var(--shadow-1);
    font-size: 4rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
}
