
.search-bar-result {
    cursor: pointer;
    padding: 1rem;
    height: 4rem;
    border-top: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 1rem;
}

.search-bar-result:hover {
    background-color: #f2f2f2;
}

.search-bar-result__icon {
    font-size: 1.8rem;
    color: var(--green-2);
}

.search-bar-result__info {
    width: 100%;
    overflow: hidden;
}

.search-bar-result__name {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
}

.search-bar-result:hover .search-bar-result__name {
    color: var(--green-3);
    border-bottom: 2px solid var(--green-3);
}

.search-bar-result__region {
    font-size: 1.2rem;
    white-space: nowrap;
}

.search-bar-result__description {
    display: flex;
    flex-flow: column nowrap;
    width: 10.5rem;
    white-space: nowrap;
}
