
.searchBar {
    position: relative;
    width: 40rem;
    max-width: 91%;
    height: 4.5rem;
    z-index: 2;

    &.tiny {
        height: 3.6rem;

        & .searchBar__input {
            padding: 0 .8rem;

            &-icon {

            }

            &-inp {
                font-size: 1rem;
                padding: .8rem 0;
                margin: 0 .8rem;
            }

            &-submit {
                height: 2rem;
                width: 2rem;
                min-width: 2rem;
            }
        }

        & .searchBar__results-content {
            max-height: calc(70vh);
        }
    }

    &__input {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 0 1rem;
        position: relative;
        top: 0;
        z-index: 2;
        transition: .1s ease-in-out;
        background: white;
        border-radius: 5rem;
        box-shadow: var(--shadow-1);

        &:hover, &:focus-within {
            box-shadow: var(--shadow-2);
        }

        &-icon {
            height: 1rem;
            width: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: .1s ease-in-out;

            &.active {
                opacity: 1;
            }
        }

        &-inp {
            min-width: 0;
            border: none;
            outline: none;
            font-size: 1.2rem;
            flex-grow: 1;
            margin: 0 1rem;
            padding: 14px 0;
        }

        &-submit {
            cursor: pointer;
            height: 2.1rem;
            width: 2.1rem;
            min-width: 2.1rem;
            border-radius: 5rem;
            border: none;
            background-color: var(--green-2);
            color: white;
            transition: .1s ease-in-out;

            &:hover {
                background-color: var(--green-3);
            }
        }
    }

    &__results {
        background-color: white;
        width: 100%;
        position: absolute;
        top: 0;
        margin-top: 2.25rem;
        padding-top: 2.25rem;
        z-index: 0;
        transition: .1s ease-in-out;
        visibility: hidden;
        opacity: 0;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;

        &.active {
            visibility: visible;
            opacity: 1;
        }

        &-tabs {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            grid-gap: 1rem;
            font-size: 1.2rem;
            padding: 1rem;
            border-bottom: 1px solid #e0e0e0;

            &.tiny {
                font-size: 1rem;
                padding: .5rem .8rem .8rem .8rem;
            }
        }

        &-tab {
            cursor: pointer;
            font-weight: 700;
            border-bottom: 2px solid transparent;

            &.active {
                color: var(--green-2);
                border-bottom: 2px solid var(--green-2);
            }

            &:hover {
                color: var(--green-2);
            }
        }

        &-content {
            height: 100%;
            width: 100%;
            max-height: 50vh;
            overflow-y: auto;
        }

        &-list {
            display: none;

            &.active {
                display: initial;
            }
        }
    }
}
