

.search-bar {
    position: absolute;
    top: 28rem;
    width: 40rem;
    max-width: 80%;
    height: 4.5rem;
    z-index: 0;
}

.search-bar__input {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 1rem;
    z-index: 1;
    transition: .1s ease-in-out;
    background: white;
    border-radius: 5rem;
    box-shadow: var(--shadow-1);
}

.search-bar__input-icon {
    height: 1rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .1s ease-in-out;
}

.search-bar__input-icon.active {
    opacity: 1;
}

.search-bar__input:hover, .search-bar__input:focus-within {
    box-shadow: var(--shadow-2);
}

.search-bar__input-inp {
    border: none;
    outline: none;
    font-size: 1.2rem;
    flex-grow: 1;
    margin: 0 1rem;
    padding: 14px 0;
}

.search-bar__input-submit {
    cursor: pointer;
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 5rem;
    border: none;
    background-color: var(--green-2);
    color: white;
    transition: .1s ease-in-out;
}

.search-bar__input-submit:hover {
    background-color: var(--green-3);
}

.search-bar__results {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 2.25rem;
    padding-top: 2.25rem;
    z-index: -1;
    transition: .1s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.search-bar__results.active {
    visibility: visible;
    opacity: 1;
}

.search-bar__results-tabs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    grid-gap: 1rem;
    font-size: 1.2rem;
}
