

.review-modal__name {
    font-size: 32px;
    font-weight: 700;
    color: #414141;
    line-height: 1.13;
    letter-spacing: -.3px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 72px;
}

.review-modal__blurb {
    border-radius: .5rem;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    line-height: 1.44;
    padding: 12px 1rem;
    color: #414141;
    min-height: 113px;
    resize: none;
}


.review-modal__submit {
    display: flex;
    justify-content: flex-end;
}
