
.review-list__header {
    margin-bottom: 16px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:16px;
}

.review-list__header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.review-list__header-info > * {
    padding-right: 16px;
}

.review-list__header button {
    cursor: pointer;
    width: 11rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: .5rem;
    background-color: #428a13;
    color: #fff;
    transition: .1s ease-in-out;
}

.review-list__header button:hover {
    background-color: #529a23;
}
