
.review-list__header {
    margin-bottom: 1rem;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.review-list__header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.review-list__header-info > * {
    padding-right: 1rem;
}

.review-list__header button {
    width: 10rem;
    height: 2.5rem;
}
