/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
    --blue-2: #219ad8;
    --blue-3: #4bafe1;
    --green-1: #1e4304;
    --green-2: #428a13;
    --green-3: #529a23;
    --text-color-1: #414141;
    --font-1: "Inter", Arial, sans-serif;
    --shadow-1: .25rem .25rem .5rem rgb(0, 0, 0, 0.15);
    --shadow-2: .25rem .25rem .5rem rgb(0, 0, 0, .45);
}

body {
    background-color: #f2f2f2;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font-1);
    color: var(--text-color-1);
}

input, textarea {
    font-family: var(--font-1);
}

.dummy-nav {
    width: 100%;
    height: 4rem;
}

.jaunts__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    width: 6rem;
    height: 2rem;
    box-sizing: border-box;
    box-shadow: var(--shadow-1);
    border: none;
    border-radius: 5rem;
    transition: .1s ease-in-out;
    white-space: nowrap;
}

.jaunts__btn-1 {
    background-color: var(--green-2);
    color: white;
}

.jaunts__btn-1:hover {
    background-color: var(--green-3);
}

.jaunts__btn-2 {
    background-color: var(--blue-2);
    color: white;
}

.jaunts__btn-2:hover {
    background-color: var(--blue-3);
}

.jaunts__btn-3 {
    background-color: white;
}

.jaunts__btn-3:hover {
    color: var(--green-3);
}

.trail-completed {
    background-color: var(--green-2);
    color: white;
    font-size: 1rem;
    z-index: 1;

    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: .5rem;
    padding: .3rem;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: .3rem;
}
