
.view-photo-modal__container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    height: 100%;
    width: 100%
}

.view-photo-modal__content {
    display: grid;
    grid-template-columns: 100px auto 100px;
    align-items: center;
    height: calc(100vh - 100px);
    width: 100%;
}

.view-photo-modal__details {
    background-color: black;
    height: inherit;
    width: 100%;
    margin: auto;
    display:flex;
    flex-direction: column;
}

.view-photo-modal__details > div {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    padding: .5rem 0;
}

.view-photo-modal__img {
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.view-photo-modal__btn {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: none;
    background-color: #428a13;
    font-size: 20px;
    color: #fff;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.view-photo-modal__btn:hover {
    background-color: #529a23;
}
