
.lists-row {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr;
    grid-gap: 1rem;
    border-radius: 8px;
    border: 1px solid #e6e6e6;
    margin: 16px;
    padding: 16px;
    font-family: Proxima Nova,Arial,sans-serif;
    line-height: 1.5;
    color: #414141;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 .25rem .5rem 0 rgb(0, 0, 0, 0.1);
    transition: .1s ease-in-out;
}

.lists-row:hover {
    transform: scale(1.02);
}

.lists-row__img-container {
    height: 10rem;
    width: 100%;
    min-width: 10rem;
    cursor: pointer;
}

.lists-row__img-container > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lists-row__info {
    cursor: pointer;
}

.lists-row__img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.lists-row__name, .lists-row__stats {
    font-weight: 700;
    font-size: 18px;
}

.lists-row__blurb {

}

.lists-row__buttons {
    display: flex;
    flex-flow: column nowrap;
}

.lists-row__buttons > button:first-child {
    margin-bottom: 1rem;
}
