.jaunt-row {
    background-color: #fff;
    margin-bottom: 16px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: 0 .25rem .5rem 0 rgb(0, 0, 0, 0.1);
}

.jaunt-row__info {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Proxima Nova,Arial,sans-serif;
    margin: 1.5rem 2rem 1.5rem 2rem;
    display: flex;
}

.jaunt-row__name {
    cursor: pointer;
    border-bottom: solid transparent 3px;
    transition: .1s ease-in-out;
}

.jaunt-row__name:hover {
    color: #428a13;
    border-bottom: solid #428a13 3px;
}

.jaunt-row__slider {
    margin: 0 2rem 1.5rem 2rem;
    position: relative;
}

.jaunts-row__slider-tabs {
    position: absolute;
    right: 0;
    top: -2rem;
    z-index: 2;
}

.jaunts-row__slider-tabs > button.active {
    background-color: #529a23;
}

.jaunts-row__slider-tab-all {
    border-radius: 0 !important;
    border-top-left-radius: .5rem !important;
}

.jaunts-row__slider-tab-user {
    border-radius: 0 !important;
    border-top-right-radius: .5rem !important;
}

.jaunt-row__slider-header {
    height: 480px;
    background-color: black;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: Proxima Nova, Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.jaunt-row__slider-header-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
    opacity: 0;
}

.jaunt-row__slider-header-img:not(.preload) {
    opacity: 1;
}

.jaunt-row__slider-body {
    position: relative;
    height: 10rem;
}

.jaunt-row__slider-images {
    height: 100%;
    overflow-x: overlay;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.jaunt-row__slider-images::-webkit-scrollbar {
    display: none;
}

.jaunt-row__slider-images-container {
    --num: 10;
    background-color: black;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(max(5,var(--num)), 1fr);
    grid-gap: 1rem;
    height: 100%;
    width: calc(max(20% * var(--num), 100%));
    box-sizing: border-box;
}

.jaunt-row__slider-images-left, .jaunt-row__slider-images-right {
    z-index: 2;
    position: absolute;
    font-size: 2em;
    top: 0;
    color: #CCCCCC;
    height: 100%;
    display: flex;
    align-items: center;
    width: 8%;
}

.jaunt-row__slider-images-left > i, .jaunt-row__slider-images-right > i {
    padding: 0.2rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.jaunt-row__slider-images-left {
    left: 0;
    justify-content: flex-start;
}

.jaunt-row__slider-images-right {
    right: 0;
    justify-content: flex-end;
}

.jaunt-row__slider-body:hover .jaunt-row__slider-images-left > i,
.jaunt-row__slider-body:hover .jaunt-row__slider-images-right > i {
    opacity: 0.75;
}

.jaunt-row__slider-body .jaunt-row__slider-images-left > i:hover,
.jaunt-row__slider-body .jaunt-row__slider-images-right > i:hover {
    opacity: 1;
}

.jaunt-row__slider-img-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    box-sizing: content-box;
    transition: border 0.1s ease-in-out;
}

.jaunt-row__slider-img-container.active {
    border:#CCCCCC solid 2px;
}

.jaunt-row__slider-img-container > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.jaunt-row__content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 32px 24px 32px;

    font-family: Proxima Nova, Arial, sans-serif;
    color: #414141;
    font-size: 1.2rem;
}

.jaunt-row__reorder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.jaunt-row__reorder .jaunt-row__arrow {
    cursor: pointer;
}

.jaunt-row__overview {
    border-top: solid #e6e6e6 1px;
    border-bottom: solid #e6e6e6 1px;
    margin: 0;
    padding: 1rem;
    line-height: 1.44;
    overflow-wrap: break-word;
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.jaunt-row__overview-info {
    margin-right: 1rem;
}

.jaunt-row__date, .jaunt-row__blurb {
    display: inline;
    margin-right: 8px;
}

.jaunt-row__edit-date, .jaunt-row__edit-blurb {
    display: inline-block;
    cursor: pointer;
    color: #e6e6e6;
}

.jaunt-row__edit-date:hover, .jaunt-row__edit-blurb:hover {
    color: #428513;
}

.jaunt-row__edit-date-input, .jaunt-row__edit-blurb-input {
    border: 1px solid black;
    font-family: Proxima Nova, Arial, sans-serif;
    color: #414141;
    line-height: 1.44;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.jaunt-row__edit-blurb-input {
    border: 1px solid #e6e6e6 !important;
    width: 100%;
    height: 160px;
    border: 1px solid black;
    font-family: Proxima Nova, Arial, sans-serif;
    color: #414141;
    font-size: 1.2rem;
    line-height: 1.44;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.jaunt-row__buttons {
    display: grid;
    grid-gap: 1rem;
}
