
.trailDivider {
    width: 3rem;
    flex: 0 0 auto;
    user-select: none;
    background-color: #e2e2e2;
    z-index: 3;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: .1s ease-in-out;

    &::-webkit-scrollbar {
        display: none;
    }

    &.active {
        width: 22rem;
        overflow-y: scroll;

        & .trailDivider {
            &__nav {
                height: unset;
                grid-template-rows: unset;
                grid-template-columns: 1fr 1fr 1fr;

                &-btns {
                    flex-direction: row;
                }
            }
        }
    }

    &__nav {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100%;

        &-btns {
            display: flex;
            flex-direction: column;
            margin: .5rem;
            grid-gap: .5rem;
        }

        &-btn {
            width: 2rem !important;
        }
    }

    &__drag {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color: white;

        &-handle {
            cursor: grab;
        }
    }

    &__search {
        display: flex;
        justify-content: center;
    }
}
