
.trail-page__content {
    display: grid;
    grid-template-columns: 75% 25%;
}

.trail-page__details {
    display: flex;
    justify-content: space-evenly;
}

.trail-section {
    background-color: #fff;
    margin: 16px;
    border: 1px solid #CCCCCC;
}

.trail-section__header {
    height: 312px;
}

.trail-section__header-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.trail-section__header-container {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 103px;
    margin: 0 24px;
    color: #fff;
}

.trail-section__header-name {
    font-family: Proxima Nova,Arial,sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 6px;
}

.trail-section__header-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
}

.trail-section__green-block {
    background-color:#428a13;
    height: 55px;
    width: 100%;
}

.trail-section__spacing {
    padding: 24px 0;
    margin: 0 24px;
    font-family: Proxima Nova, Arial, sans-serif;
}

.trail-section__overview {
    border-bottom: solid #e6e6e6 1px;

    color: #414141;
    font-size: 18px;
    line-height: 1.44;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.trail-section__details {
    display:flex;
    border-bottom: solid #e6e6e6 1px;
}

.trail-section__details > div {
    width: 32%;
}

.trail-section__details > div > div:first-child {
    color: #5a5a5a;
    font-size: 12px;
    line-height: 1.42;
    display: block;
    width: auto;
}

.trail-section__details > div > div:last-child {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.38;
    display: block;
    width: auto;
    color: #414141;
}

.trail-section__tags {
    display: flex;
    flex-flow: row wrap;
}

.trail-section__tag {
    padding: 5.5px 12px;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    font-weight: 500;
    color: #428A13;
    border: solid 1px #428A13;
    font-size: 14px;
}

.tab-navigation {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: flex-start;
    padding: 0 16px;
    min-height: 48px;
    background: #f2f2f2;
    border-top: solid #e2e2e2 1px;
    border-bottom: solid #e2e2e2 1px;
    box-sizing: border-box;
}

.tab {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    font-family: Proxima Nova,Arial,sans-serif;
    padding: 6px;
    margin-right: 48px;
}

.tab:hover {
    color: #428a13;
}

.tab.active {
    color: #428a13;
    border-bottom: solid #428a13 3px;
}

.tab-content {
    background-color: #fff;

    padding: 24px 0;
    margin: 0 24px;
    font-family: Proxima Nova, Arial, sans-serif;

    border-bottom: solid #e6e6e6 1px;
    color: #414141;
    font-size: 18px;
    line-height: 1.44;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
