.trailMap {
    flex-shrink: 1000;
    overflow: hidden;
    width: 100%;

    &__options {
        height: 4rem;
        margin: 0 .5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        grid-gap: 1rem;
    }

    &__container {
        height: calc(100% - 4rem);
        width: 100%;
        min-width: 20rem;
        position: relative;
    }

    &__info {
        width: 10.5rem;
        background-color: var(--green-1);
        color: white;
        padding: .5rem;
        position: absolute;
        top: 0;
        left: 0;
        margin: 1rem;
        border-radius: .25rem;
        z-index: 1;
    }

    &__buttons {
        display: flex;
        flex-flow: column nowrap;
        grid-gap: .5rem;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
        z-index: 1;
    }

    &__button {
        width: 2rem;
    }

    &__map {
        height: 100%;
        width: 100%;
        position: unset;
    }
}

// .mapboxgl-control-container {

// }

.mapboxgl-ctrl.mapboxgl-ctrl-group {
    margin: 1rem;
}
