
.trail-page__content {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 1rem;
}

.trail-page__details {
    display: flex;
    justify-content: space-evenly;
}

.trail-section {
    background-color: #fff;
    margin: 1rem 0 1rem 1rem;
    border: 1px solid #CCCCCC;
    position: relative
}

.trail-section__header {
    height: 312px;
}

.trail-section__header-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.trail-section__header-container {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 8rem;
    margin: 0 1.5rem;
    color: #fff;
}

.trail-section__header-name {
    font-family: Proxima Nova,Arial,sans-serif;
    font-size: 2rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: .5rem;
}

.trail-section__header-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
}

.trail-section__action-bar {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.trail-section__action-tab {
    background-color:#428a13;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    cursor: pointer;
}

.trail-section__action-tab:hover {
    background-color: #529a23;
}

.trail-section__action-btn {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 100%;
    color: #428A13;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    position: relative;
    top: -24px;
}

.trail-section__action-name {
    color: white;
    font-family: Proxima Nova, Arial, sans-serif;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 500;
    position: relative;
    top: -22px;
    height: 0px;
}

.trail-section__spacing {
    padding: 24px 0;
    margin: 0 24px;
    font-family: Proxima Nova, Arial, sans-serif;
}

.trail-section__overview {
    border-bottom: solid #e6e6e6 1px;

    color: #414141;
    font-size: 1.2rem;
    line-height: 1.44;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.trail-section__details {
    display:flex;
    border-bottom: solid #e6e6e6 1px;
}

.trail-section__details > div {
    width: 32%;
}

.trail-section__details > div > div:first-child {
    color: #5a5a5a;
    font-size: 1rem;
    line-height: 1.42;
    display: block;
    width: auto;
}

.trail-section__details > div > div:last-child {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.38;
    display: block;
    width: auto;
    color: #414141;
}

.trail-section__tags {
    display: flex;
    flex-flow: row wrap;
}

.trail-section__tag {
    padding: 5.5px 12px;
    font-size: 1rem;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    font-weight: 500;
    color: #428A13;
    border: solid 1px #428A13;
}

.tab-navigation {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: flex-start;
    padding: 0 16px;
    min-height: 48px;
    background: #f2f2f2;
    border-top: solid #e2e2e2 1px;
    border-bottom: solid #e2e2e2 1px;
    box-sizing: border-box;
}

.tab {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: Proxima Nova,Arial,sans-serif;

    margin-right: 48px;
    transition: .1s ease-in-out;
}

.tab:hover {
    color: #428a13;
}

.tab.active {
    color: #428a13;
    border-bottom: solid #428a13 3px;
}

.tab-content {
    background-color: #fff;

    padding: 24px 0;
    margin: 0 24px;
    font-family: Proxima Nova, Arial, sans-serif;


    color: #414141;
    font-size: 1.2rem;
    line-height: 1.44;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
