
.trailDivider {
    width: 3rem;
    flex: 0 0 auto;
    user-select: none;
    z-index: 3;
    scrollbar-width: none;
    transition: .1s ease-in-out;
    margin: .5rem 0;

    &.active {
        width: 22rem;
        overflow: hidden;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;

        & .trailDivider {
            &__nav {
                height: unset;
                grid-template-rows: unset;
                grid-template-columns: 1fr 1fr 1fr;
                margin: .5rem;

                &-btns {
                    flex-direction: row;
                    grid-gap: .5rem;
                }
            }
        }
    }

    &__nav {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        flex-flow: column nowrap;
        height: 21rem;

        &-btns {
            display: flex;
            flex-direction: column;
            margin: .5rem;
            grid-gap: .5rem;
        }

        &-btn {
            width: 2rem !important;
        }

        // &-start {

        // }

        &-end {
            justify-content: flex-end;
        }
    }

    &__drag {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color: white;

        &-handle {
            cursor: grab;
        }
    }

    &__container {
        visibility: hidden;
        opacity: 0;
        transition: .1s ease-in-out;
        overflow: hidden;

        &.active {
            visibility: visible;
            opacity: 1;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
        }

        &-search {
            display: flex;
            justify-content: center;
        }

        &-title {
            font-size: 1.5rem;
            font-weight: 700;
            margin: 1rem 1rem .5rem 1rem;
        }

    }
}
