
.list-page__content {
    margin: 1rem;
}

.list-page__header {
    background-color: #fff;
    margin-bottom: 1rem;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: var(--shadow-1);
    padding: 1.5rem 2rem 1.5rem 2rem;
}

.list-page__name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    display: flex;

}

.list-page__blurb {
    color: #414141;
    font-size: 1.2rem;
}

.list-page__jaunt-rows {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
}
